/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  font-family: "Noto Sans JP",MyYuGothicM,YuGothic,-apple-system,BlinkMacSystemFont,"Hiragino kaku Gothic ProN",Meiryo,Verdana,arial,helvetica,sans-serif;
}

.l-footer {
  width: 100%;
  color: #fff;
}

.l-footer__main {
  text-align: center;
  padding: 27px 0px;
  background: #141E33;
}

@media (min-width: 768px) {
  .l-footer__main__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.l-footer__main__info__name {
  font-size: 1.4rem;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .l-footer__main__info__name {
    margin-left: 30px;
  }
}

.l-footer__main__info__address {
  font-size: 1.4rem;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .l-footer__main__info__address {
    margin-left: 14px;
  }
}

.l-footer__sub {
  color: #000;
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .l-footer__sub {
    height: 39px;
    line-height: 39px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.l-footer__sub small {
  color: #696969;
  margin-top: 9px;
  float: right;
}

@media (min-width: 768px) {
  .l-footer__sub small {
    margin-top: 0px;
  }
}

.l-header {
  background: #fff;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

@media (min-width: 768px) {
  .l-header {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .l-header__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 15px 0 10px;
  }
}

.l-header__logo {
  height: 30px;
  width: auto;
  margin: 10px;
}

@media (min-width: 768px) {
  .l-header__logo {
    height: auto;
    margin: 0 16px 0 20px;
  }
}

.l-header__text {
  color: #131D34;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.3;
}

.l-header__text strong {
  font-size: 1.8rem;
}

.l-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-banner {
  width: 95vw;
  max-width: 562px;
  margin: 32px 0px;
}

.c-box-service {
  margin-bottom: 40px;
}

.c-box-service:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .c-box-service {
    width: 229px;
  }
}

.c-box-newsList {
  border-bottom: 1px dotted #C3C3C3;
  padding: 15px 0px;
}

.c-box-newsList:last-of-type {
  border-bottom: none;
}

@media (min-width: 768px) {
  .c-box-newsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0px;
  }
}

.c-box-newsList__date {
  display: block;
  font-size: 1.4rem;
  color: #696969;
}

@media (min-width: 768px) {
  .c-box-newsList__date {
    font-size: 1.8rem;
    margin-right: 40px;
  }
}

.c-box-newsList__link {
  display: block;
  color: #2498B3;
  font-size: 1.6rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.c-box-newsList__link a {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .c-box-newsList__link {
    font-size: 1.8rem;
  }
  .c-box-newsList__link:hover {
    background: #d4f1f8;
  }
}

.c-button {
  font-weight: 700;
  color: #ffffff;
  background: #2498B3;
  padding: 12px 18px;
  border: 1px solid #2498B3;
  border-radius: 4px;
}

.c-comment-service {
  width: 68vw;
  line-height: 1.7;
  font-weight: 700;
  margin: auto;
  text-align: left;
}

@media (min-width: 768px) {
  .c-comment-service {
    width: 100%;
  }
}

.c-footerMainList {
  text-align: left;
}

.c-footerMainList__title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.c-footerMainList__item {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 7px;
  -webkit-transition: .3s;
  transition: .3s;
}

.c-footerMainList__item:hover {
  color: #2bb8d9;
}

.c-footerSubList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-footerSubList__item {
  padding-right: 18px;
}

.c-footerSubList__item a {
  -webkit-transition: .3s;
  transition: .3s;
}

.c-footerSubList__item a:hover {
  color: #2bb8d9;
}

.c-item {
  height: 70px;
  line-height: 70px;
  color: #131D34;
  font-weight: 700;
}

.c-item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.c-item:hover {
  background: #d4f1f8;
}

.c-item:last-of-type {
  color: #fff;
  background: #2498B3;
}

.c-item:last-of-type:hover {
  background: #2498B3;
}

.c-icon-service {
  width: 218px;
  height: 218px;
  color: #000;
  background: #ffffff;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-title-service {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 10px 0px;
}

.c-title-news {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  background: #2498B3;
  padding: 5px;
  text-align: center;
}

.p-news {
  width: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
}

@media (min-width: 768px) {
  .p-news {
    padding: 64px;
  }
}

.p-news__list {
  padding: 0px 20px;
}

.p-pr {
  width: 100%;
  background: #D5F0F8;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-service {
  width: 100%;
  color: #fff;
  background: #000;
  padding: 64px 0px;
  text-align: center;
}

.p-top {
  width: 100%;
  height: 200px;
  padding-top: 60px;
  padding-bottom: 10px;
  text-align: center;
}

.p-top__comment {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .break::before {
    content: "\A";
    white-space: pre;
  }
}

.u-forpc {
  display: none;
}

@media (min-width: 768px) {
  .u-forpc {
    display: block;
  }
}

.u-mb25 {
  margin-bottom: 25px;
}

.u-wrap {
  width: 95vw;
  margin: auto;
  max-width: 1078px;
}

@media (min-width: 768px) {
  .u-wrap-service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.u-wrap-news {
  border: 1px solid #C3C3C3;
}

.u-wrap-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 0px 35px;
}
/*# sourceMappingURL=style.css.map */