// .c-box {

// }

.c-box-service {
  margin-bottom: 40px;
  &:last-of-type {
    margin-bottom: 0;
  }
  @include breakpoint ( pc ) {
    width: 229px;
  }
}

.c-box-newsList {
  border-bottom: 1px dotted $color-border;
  padding: 15px 0px;
  &:last-of-type {
    border-bottom: none;
  }
  @include breakpoint ( pc ) {
    display: flex;
    padding: 20px 0px;
  }
}

.c-box-newsList__date {
  display: block;
  font-size: 1.4rem;
  color: $color-text;
  @include breakpoint ( pc ) {
    font-size: 1.8rem;
    margin-right: 40px;
  }
}

.c-box-newsList__link {
  display: block;
  color: $color-base;
  font-size: 1.6rem;
  transition: .3s;
  a {
    text-decoration: underline;
  }
  @include breakpoint ( pc ) {
    font-size: 1.8rem;
    &:hover {
      background: $color-hover;
    }
  }
}