.c-footerMainList {
  text-align: left;
}

.c-footerMainList__title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.c-footerMainList__item {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 7px;
  transition: .3s;
  &:hover {
    color: $color-hover-2;
  }
}

.c-footerSubList {
  display: flex;
  flex-wrap: wrap;
}

.c-footerSubList__item {
  padding-right: 18px;
  a {
    transition: .3s;
    &:hover {
      color: $color-hover-2;
    }
  }
}
