// .c-navItemとするか迷ったが、このレイアウトに汎用性がない（他の場所で使う可能性が低い）と判断
// もし別の場所で使用することになれば、.c-navItemに変更することを検討
.c-header__item {
  height: 70px;
  line-height: 70px;
  color: $color-text-2;
  font-weight: 700;
  a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    transition: .3s;
  }
  &:hover {
    background: $color-hover;
  }
  &:last-of-type {
    color: #fff;
    background: $color-base;
    &:hover {
      background: $color-base;
    }
  }
}