.c-icon {
  background: #ffffff;
  border-radius: 50%;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-icon-service {
  width: 230px;
  height: 230px;
  color: #000;
  border: 5px solid #000;
}
