// .c-icon {

// }

.c-icon-service {
  width: 218px;
  height: 218px;
  color: #000;
  background: #ffffff;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
