.c-icon {
  background: #ffffff;
  border-radius: 50%;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-icon-service {
  width: 218px;
  height: 218px;
  color: #000;
}
