.c-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include breakpoint ( pc ) {
    height: auto;
  }
}

.c-image-feature {
  @include breakpoint ( pc ) {
    position: absolute;
    bottom: 0;
  }
}