

.nav_toggle {
  position: relative;
  width: 50px;
  height: 50px;
  background: #fff;
  i {
    left: 14px;
    width: 23px;
    height: 2px;
    background-color: $color-base_dark;
    position: absolute;
    &:nth-child(1) {
      top: 15px;
    }
    &:nth-child(2) {
      top: 25px;
    }
    &:nth-child(3) {
      top: 35px;
    }
  }
}


.nav_toggle-close {
  background-color: $color-base_dark;
  i {
    background-color: #fff;
    left: 0px;
    &:nth-child(1) {
      top: 25px;
      width: 30px;
      left: 10px;
      transform:rotate(45deg)
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      top: 25px;
      width: 30px;
      left: 10px;
      transform:rotate(-45deg)
    }
  }
}
