.c-headerLogo {
  height: 30px;
  width: auto;
  margin: 10px;
}

.c-top {
  width: 100%;
  height: 200px;
  padding-top: 60px;
  padding-bottom: 10px;
  background: red;
}

.c-top__comment {
  font-size: 1.3rem;
  text-align: center;
}