.c-wrap {
  width: 95vw;
  margin: auto;
  max-width: 1078px;
}


.c-headerLogo {
  height: 30px;
  width: auto;
  margin: 10px;
  @include breakpoint ( pc ) {
    height: auto;
    margin-left: 20px;
  }
}

.c-top {
  width: 100%;
  height: 200px;
  padding-top: 60px;
  padding-bottom: 10px;
  text-align: center;
}

.c-top__comment {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 10px;
}

.c-service {
  width: 100%;
  color: #fff;
  background: #000;
  padding: 64px 0px;
  text-align: center;
}

.c-serviceWrap {
  @include breakpoint ( pc ) {
    display: flex;
    justify-content: space-around;
  }
}

.c-serviceBox {
  margin-bottom: 40px;
  &:last-of-type {
    margin-bottom: 0;
  }
  @include breakpoint ( pc ) {
    width: 229px;
  }
}

.c-serviceIcon {
  width: 218px;
  height: 218px;
  color: #000;
  background: #ffffff;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-serviceTitle {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 10px 0px;
}

.c-serviceText {
  width: 68vw;
  line-height: 1.7;
  font-weight: 700;
  margin: auto;
  text-align: left;
  @include breakpoint ( pc ) {
    width: 100%;
  }
}

.c-pr {
  width: 100%;
  background: $banner-bg;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-banner {
  max-width: 562px;
  margin: 32px 0px;
}

.c-news {
  margin: 64px auto;
  border: 1px solid $border-color;
}

.c-newsTitle {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  background: $base-color;
  padding: 5px;
  text-align: center;
}

.c-newsList {
  padding: 0px 20px;
}

.c-newsListBox {
  border-bottom: 1px dotted $border-color;
  padding: 15px 0px;
  &:last-of-type {
    border-bottom: none;
  }
}

.c-newsDate {
  display: block;
  font-size: 1.4rem;
  color: $text-color;
}

.c-newsLink {
  display: block;
  color: $base-color;
  a {
    text-decoration: underline;
  }
}

.c-footerMain {
  text-align: center;
  padding: 27px 0px;
  background: #141E33;
}

.c-footerName{
  font-size: 1.4rem;
  margin-top: 10px;
}

.c-footeraddress {
  font-size: 1.4rem;
  margin-top: 10px;
}

.c-footerNavi {
  width: 95vw;
  margin: auto;
  color: #000;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  small {
    color: $text-color;
    float: right;
  }
}