.c-title {
  font-size: 2.4rem;
  font-weight: 700;
}

.c-title-service {
  margin: 10px 0px;
}

.c-title-news {
  font-weight: 600;
  color: #fff;
  background: $color-base;
  padding: 5px;
  text-align: center;
}

.c-title-footer {
  font-size: 1.8rem;
  margin-bottom: 16px;
}