// .c-title {

// }

.c-title-service {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 10px 0px;
}

.c-title-news {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  background: $color-base;
  padding: 5px;
  text-align: center;
}

