.c-title {
  font-size: 2.4rem;
  font-weight: 900;
}

.c-title-service {
  font-weight: 700;
  margin: 10px 0px;
}

.c-title-news {
  font-weight: 600;
  color: #fff;
  background: $color-base_dark;
  padding: 5px;
  text-align: center;
}

.c-title-course {
  line-height: 1.4;
}

.c-title-course_point {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: $color-base_dark;
  border: 2px solid $color-base_dark;
  border-radius: 5px;
}

.c-title-footer {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.c-title-main {
  color: $color-mainFont;
  text-align: center;
  position: relative;
  @include breakpoint ( pc-wide ) {
    font-size: 3.2rem;
  }
  &::before {
    position: absolute;
    bottom: -10px;
    left: calc(50% - 41px);
    width: 40px;
    height: 4px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: $color-base_dark;
    content: '';
  }
  &::after {
    position: absolute;
    bottom: -10px;
    right: calc(50% - 41px);
    width: 40px;
    height: 4px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: $color-accent;
    content: '';
  }
}

.c-title-sub {
  font-size: 2.1rem;
  @include breakpoint ( pc-wide ) {
    font-size: 3.4rem;
  }
}
