// projectとするかcomponentとするか非常に迷ったが、「projectを構成するための枠」というイメージでcomponentとする
// 枠にも色んな種類があると考えて、パターン分けをmodifierで作成

.c-wrap {
  width: 95vw;
  margin: auto;
  max-width: 1078px;
}

.c-wrap-service {
  @include breakpoint ( pc ) {
    display: flex;
    justify-content: space-around;
  }
}

.c-wrap-news {
  border: 1px solid $color-border;
}