.u-forpc {
  display: none;
  @include breakpoint ( pc ) {
    display: block;
  }
}

.u-forwide {
  display: none;
  @include breakpoint ( wide ) {
    display: block;
  }
}

.u-fornallow {
  @include breakpoint ( wide ) {
    display: none;
  }
}