// 768px以上1199px以下のとき表示
.u-forpc {
  display: none;
  @include breakpoint ( pc ) {
    display: block;
  }
}

// 1200px以上のとき表示
.u-forwide {
  display: none;
  @include breakpoint ( wide ) {
    display: block;
  }
}

// 1200px以上のとき表示かつflex
.u-forwide-flex {
  display: none;
  @include breakpoint ( wide ) {
    display: flex;
  }
}

// 1200px以上のとき非表示
.u-forsp-pc {
  @include breakpoint ( wide ) {
    display: none;
  } 
}

// 768px以上のとき表示
.u-forpc-wide {
  display: none;
  @include breakpoint ( pc ) {
    display: block;
  }
  @include breakpoint ( wide ) {
    display: block;
  }
}