.u-mb15 {
  margin-bottom: 15px;
}

.u-mb7 {
  margin-bottom: 7px;
}

.u-mb50 {
  margin-bottom: 50px;
}

.u-mt50 {
  margin-top: 50px;
}

.u-mt70__wide {
  @include breakpoint ( wide ) {
    margin-top: 70px;
  }
}