.u-pd-rl8px {
  padding: 0px 8px;
}

.u-pd-rl10 {
  padding: 0px 10px;
}

.u-pd-rl20 {
  padding: 0px 20px;
}

.u-pd-tb1 {
  padding-top: 1px;
  padding-bottom: 1px;
}

.u-pd-tb64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.u-pd-r18 {
  padding-right: 18px;
}

.u-pd20 {
  padding: 20px;
}