// wrapのレイヤーは非常に迷ったが、「調整のための便利クラス」であるutillityが最適と判断しました。

.u-wrap {
  width: 95vw;
  margin: auto;
  max-width: 1078px;
}

.u-wrap-service {
  @include breakpoint ( pc ) {
    display: flex;
    justify-content: space-around;
  }
}

.u-wrap-news {
  border: 1px solid $color-border;
}

.u-wrap-footer {
  display: flex;
  text-align: left;
  justify-content: space-between;
  padding: 13px 0px 35px;
}

.u-wrap-footer-sub {
  display: flex;
  flex-wrap: wrap;
}

.u-column {
  display: inline-flex;
  flex-direction: column;
}