.p-gnavi__list {
  display: flex;
  position: relative;
  z-index: 400;
  @include breakpoint ( sp-pc ) {
    display: none;
  }
}

.p-gnavi__subList {
  display: none;
  color: $color-text-2;
  font-weight: 400;
  background: $color-lightbg;
  line-height: 50px;
  @include breakpoint ( wide ) {
    position: absolute;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 25px;
    @include breakpoint ( wide ) {
      padding: 0 15px;
    }
    &:hover {
      background: $color-hover-3;
      @include breakpoint ( wide ) {
        color: $color-base_dark;
        background: #fff;
      }
    }
  }
}

.p-gnavi__list__item {
  color: $color-text-2;
  // padding: 10px;
  @include breakpoint ( wide ) {
    line-height: 70px;
  }
  > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    position: relative;
    @include breakpoint ( wide ) {
      padding: 0 15px;
    }
    &:hover {
      background: $color-hover-3;
      @include breakpoint ( wide ) {
        background: $color-hover;
      }
    }
    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      right: 13px;
      width: 24px;
      height: 2px;
      margin-top: -1px;
      background-color: $color-mainFont;
      @include breakpoint ( wide ) {
        display: none;
      }
    }
    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      right: 24px;
      width: 2px;
      height: 24px;
      margin-top: -12px;
      background-color: $color-mainFont;
      @include breakpoint ( wide ) {
        display: none;
      }
    }
  }
  &:nth-of-type(3) {
    > a {
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
     }
  }
  &:last-of-type {
    color: #fff;
    background: $color-base_dark;
    a {
      &:hover {
        background: $color-base_dark;
      }
    }
  }
}

.p-gnavi__list__item-open {
  > a {
    &::after {
      display: none;
    }
  }
}

.p-gnavi-ham {
  display: none;
    > ul {
      display: block;
      li {
        // height: 45px;
        background: #fff;
        a {
          width: 100%;
          height: 100%;
        }
      }
    }
  }