.p-gnavi__list {
  display: flex;
}

.p-gnavi__list__item {
  height: 70px;
  line-height: 70px;
  color: $color-text-2;
  a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    &:hover {
      background: $color-hover;
    }
  }
  &:last-of-type {
    color: #fff;
    background: $color-base_dark;
    a {
      &:hover {
        background: $color-base_dark;
      }
    }
  }
}

.p-gnavi-ham {
    // display: none;
    ul {
      display: block;
      li {
        height: 45px;
        background: #fff;
        &:last-of-type {
          display: none;
        }
      }
    }
}