.p-hero {
  height: 320px;
  background-image: url("/Users/ayaka/Desktop/模写コーディング５/images/bg-hero3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  // ここのpositionがないと.p-hero_layer1のabusoluteの起点がウィンドウになってレイアウトが崩れる
  position: relative;
  @include breakpoint ( pc-wide ) {
    height: 650px;
  }
  // padding-bottom: 320px;
  // height: 1px;
  // height: 170px;
  // margin-top: 60px;
  // position: relative;
  // background: url("/Users/ayaka/Desktop/模写コーディング５/images/bg-hero1.png") no-repeat center -25px, url("/Users/ayaka/Desktop/模写コーディング５/images/bg-hero2.png") no-repeat center 5px, url("/Users/ayaka/Desktop/模写コーディング５/images/bg-hero3.png") no-repeat center center;
}

.p-hero_layer1 {
  position: absolute;
  top: 0;
  background-image: url("/Users/ayaka/Desktop/模写コーディング５/images/bg-hero1.png");
  width: 100%;
  height: 100%;
  background-position: center -30px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  z-index: 100;
  // align-items: flex-start;
  // justify-content: center;
  @include breakpoint ( pc-wide ) {
    position: absolute;
    top: 0;
    background-image: url("/Users/ayaka/Desktop/模写コーディング５/images/bg-hero1.png");
    width: 100%;
    height: 100%;
    padding-top: 80px;
    background-position: center center;
    background-repeat: no-repeat;
    align-items: flex-start;
    justify-content: center;
    align-items: flex-start;
    background-size: auto;
  }
}
.p-hero_layer2 {
  position: absolute;
  top: 0;
  background-image: url("/Users/ayaka/Desktop/模写コーディング５/images/bg-hero2.png");
  width: 100%;
  height: 100%;
  background-position: center -30px;
  background-repeat: no-repeat;
  background-size: cover;
  transition-property: background-position;
  transition-duration: .7s;
  transition-delay: .035s;
  @include breakpoint ( pc-wide ) {
    position: absolute;
    top: 0;
    background-image: url("/Users/ayaka/Desktop/模写コーディング５/images/bg-hero2.png");
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: auto;
  }
}