// .p-topと同様の理由
.p-service {
  width: 100%;
  color: #fff;
  background: #000;
  padding: 64px 0px;
  text-align: center;
  @include breakpoint ( pc ) {
    margin-top: -250px;
  }
}

// 元々「.c-box-service」としていましたが、
// 中身が固有のスタイリングになっていて、「コンポーネント単独で独立して再利用できる」という
// コンポーネントの前提に沿わないと判断してプロジェクトに移しました。

.p-service_box {
  margin-bottom: 40px;
  &:last-of-type {
    margin-bottom: 0;
  }
  @include breakpoint ( pc ) {
    width: 229px;
    margin: 0 50px;
  }
}