// 最初は.c-topとしていたが、この中に.c-buttonというクラスがあり、
// 最小単位であるはずのコンポーネントの中にコンポーネントができてしまうため、
// .p-topに変更
.p-top {
  width: 100%;
  height: 200px;
  padding-top: 60px;
  padding-bottom: 10px;
  text-align: center;
}

.p-top__comment {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 10px;
}